@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Proxima Nova, system-ui, sans-serif;
	}
}
